@font-face
{
  font-family: 'Raleway';
  src: url('fonts/Raleway-Medium.ttf') format('ttf');
  font-weight: 500;
}

@font-face
{
  font-family: 'Raleway';
  src: url('fonts/Raleway-SemiBold.ttf') format('ttf');
  font-weight: 600;
}

@font-face
{
  font-family: 'Raleway';
  src: url('fonts/Raleway-Bold.ttf') format('ttf');
  font-weight: 700;
}

*
{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

.top_menu
{
    text-align: center;
}

.menu_item
{
    list-style: none;
	display: inline-block;
}

.menu_link
{
    text-decoration: none;
    padding: 0 20px;
    line-height: 80px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #282b30;
    display: inline-block;
}

.top_block_wrapper
{
    background: url('../images/top_block.jpg') center center;
    background-size: cover;
    padding: 175px 0;
    text-align: center;
}

.top_block_title_wrapper
{
    background: rgba(0, 0, 0, 0.75);
    padding: 20px;
    display: inline-block;
}

.top_block_title
{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    line-height: 64px;
    font-weight: 500;
    text-transform: uppercase;
}

.content_wrapper
{
    padding: 60px 20px;
    width: 1000px;
    margin: 0 auto;
}

.content_title
{
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    line-height: 46px;
    font-weight: 500;
    text-transform: uppercase;
    color: #282b30;
    margin: 0 0 40px;
}

.text
{
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    line-height: 27px;
    font-weight: 500;
    margin: 0 0 25px;
    color: #282b30;
    max-width: 560px;
}

.content_list
{
    margin: 0 0 40px;
    padding: 0 0 0 20px;
}

.content_list_item
{
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    line-height: 27px;
    font-weight: 500;
    margin: 0 0 10px;
    color: #282b30;
    max-width: 380px;
}

.order_button
{
    background: #0fa8ea;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 52px;
    font-weight: 700;
    border-radius: 26px;
    padding: 0 50px;
    display: inline-block;
    text-decoration: none;
}

.button_light
{
    background: none;
    color: #0fa8ea;
	border: 1px solid #0fa8ea;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 52px;
    font-weight: 700;
    border-radius: 26px;
    padding: 0 50px;
    display: inline-block;
    text-decoration: none;
}

.order_title
{
    max-width: 340px;
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    line-height: 32px;
    font-weight: 500;
    color: #2b2b2b;
    margin: 0 0 26px;
}

.order_text_wrapper
{
    display: inline-block;
    width: 430px;
    margin-right: 110px;
	vertical-align: middle;
}

.order_picture_wrapper
{
    display: inline-block;
	vertical-align: middle;
}

.subscribe
{
    background: #e8e6eb;
    text-align: center;
    padding:50px 0 50px 0;
}

.subscribe_info
{
    margin:0 auto;
    width: 539px;
}

.subscribe_title
{
    width: 426px;
    font-family: Oswald;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.28;
    text-align: left;
    letter-spacing: -0.36px;
    color: #282b30;
}

.subscribe_text
{
    margin-top: 38px;
    width: 515px;
    font-family: Raleway;
    font-size: 19px;
    font-weight: 500;
    line-height: 1.58;
    text-align: left;
    color: #2b2b2b;
}

.enter-name
{
    margin-top: 37px;
    width: 505px;
    height: 60px;
    border-radius: 30px;
    border: solid 1px #0fa8ea;
    background-color: #ffffff;
    font-family: Raleway;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.09px;
    text-align: left;
    color: #777777;
    padding-left:30px;
}

.enter-email
{
    margin-top: 19px;
    width: 455px;
    height: 60px;
    border-radius: 30px;
    border: solid 1px #0fa8ea;
    font-family: Raleway;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.09px;
    text-align: left;
    color: #777777;
    background: url('../icons/email.png') no-repeat 30px 15px;
    background-color: #ffffff;
    padding-left:81px;
}


.period-select
{
    margin-top: 19px;
    margin-bottom:35px;
    width: 539px;
    height: 60px;
    border-radius: 30px;
    border: solid 1px #0fa8ea;
    font-family: Raleway;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.09px;
    text-align: left;
    color: #2b2b2b;
    padding-left:30px;
    -webkit-appearance: none;
    background: url('../icons/down-arrow.png') no-repeat 480px center;
    background-color: #ffffff;
}

.check_actions
{
    display:inline;
}

.check_news
{
    display:inline;
}

.check_text
{
    font-family: Raleway;
    font-size: 19.5px;
    font-weight: 500;
    letter-spacing: 0.1px;
    text-align: left;
    color: #2b2b2b;
    display:inline;
}
.subscribe_button
{
    margin-top:35px;
    width: 539px;
    height: 60px;
    border-radius: 30px;
    background-color: #0fa8ea;
    font-family: Raleway;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

.bottom_menu
{
    background: #ffffff;
    text-align: center;
}